<%- include('header') %>

<section class="about-section">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <div class="about-section">
        <div class="about-us">
            <h1>About Us Page</h1>
            <p>Some text about who we are and what we do.</p>
            <p>Resize the browser window to see that this page is responsive by the way.</p>
            <br><br>
            <h2 style="text-align:center">Our Team</h2>
        </div>
    </div>
      
    <div class="row">

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Lakshitha Eranga</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19378@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
      
        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Vidusha Sanidu</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19304@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/Tharaka1.jpg" alt="Jane" style="width:100%" >
                <div class="container">
                    <br>
                    <h2>Tharaka Dilshan</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19355@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Kulindu Thenuka</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19333@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Janindu Chamath</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19336@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Ashen Induwara</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19304@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Rasanjana Herath</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19304@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19304@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19304@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/home.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>s19304@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
         
    </div>
</section>


<%- include('footer') %>