<%- include('header') %>

<section class="about-section">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <div class="about-section">
        <div class="about-us">
            <h1>About Us</h1>
            <p>We are a dedicated website development team committed to bringing your digital dreams to reality. With a passion for creating engaging online experiences, we combine our expertise in design and development to craft stunning websites.</p>
            <p>Our collaborative approach ensures that we understand your unique goals and tailor our solutions to meet your needs. From intuitive user interfaces to cutting-edge technologies, we strive to deliver exceptional results that exceed expectations. With our attention to detail, creativity, and technical proficiency, we are here to build your online success. Contact us today and let's embark on this digital journey together.</p>
            <br><br>
            <h2 style="text-align:center; letter-spacing: 10px;">OUR TEAM</h2>
        </div>
    </div>
      
    <div class="row">

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/lakshitha.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Lakshitha Eranga</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19378@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
      
        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/vidusha.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Vidusha Sanidu</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19304@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">  
                <img class="pfl-photo" src="/Images/Tharaka.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Tharaka Dilshan</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19355@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/thenuka.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Kulindu Thenuka</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19333@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/janidu.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Janindu Chamath</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19336@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/ashen.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Ashen Induwara</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19530@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/rasa.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Rasanjana Herath</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19383@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/madhawa.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2>Madhawa Prabath</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19371@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/Chandeepa.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>
                    <h2 style="font-size: large;">Chandeepa Abhisheka</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19440@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pfl-photo" src="/Images/kanishka.jpg" alt="Jane" style="width:100%; height: 100%;">
                <div class="container">
                    <br>    
                    <h2>Kanishka Dewinda</h2>
                    <!-- <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <p>s19353@sci.pdn.ac.lk</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
         
    </div>
</section>


<%- include('footer') %>