
</div>
<!-- <div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright @ </p>
  </div>
</div> -->

  <script src="/scripts/main.js" type="text/javascript"></script>
  
</body>
</html>