<%- include('header') %>

<!-- <h1>hello</h1>

<h2><a href="/login">Log in</a></h2>
<h2><a href="/c_register">candidates Register</a></h2>
<h2><a href="/register">Register</a></h2>
<h2><a href="/vote">vote</a></h2>
<h2><a href="/results">results</a></h2> -->

<section class="home">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <img class="side-img" src="/Images/home.jpg" alt="side-img">

    <div class="home-content">
        <h1>Vote for the Future...!</h1>
        <h3>Genaral Election 2024</h3>
        <p>The highly anticipated election of next year is a fiercely contested battle for power, with candidates from various political parties vying for the top spot. Tensions are high as voters passionately express their preferences, making it a crucial moment in shaping the future of the nation.</p>

        <div class="btn-box">
            <a href="/c_register" class="c-reg-btn">Candidate Registation</a>
            <a href="/register" class="v-reg-btn">Voter Registation</a>
        </div>

        <br><br>
        <div class="vote-btn">
            <a href="/vote" class="v-btn">VOTE</a>
        </div>
        <br><br><br>
        <div class="vote-btn">
            <a href="/results" class="r-btn">RESULTS</a>
        </div>
    </div>
</section>

<%- include('footer') %>