<%- include('header') %>

<!-- <h1>hello</h1>

<h2><a href="/login">Log in</a></h2>
<h2><a href="/c_register">candidates Register</a></h2>
<h2><a href="/register">Register</a></h2>
<h2><a href="/vote">vote</a></h2>
<h2><a href="/results">results</a></h2> -->

<section class="home">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <img class="side-img" src="/Images/home.jpg" alt="side-img">
    <!-- <link class="side-img" rel="stylesheet" href="https://npr.brightspotcdn.com/61/03/a9335fbf4500ae42d955becf4a6c/vote.jpeg"> -->

    <div class="home-content">
        <br><br><br><br><br><br>
        <h1>Vote for the Future...!</h1>
        <h3>Genaral Election 2024</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime qui, debitis in consectetur id similique doloribus aut, placeat dolorum tempore officiis distinctio fuga enim illum laboriosam earum est culpa ratione?</p>

        <div class="btn-box">
            <a href="#" class="c-reg-btn">Candidate Registation</a>
            <a href="#" class="v-reg-btn">Voter Registation</a>
        </div>

        <br><br>
        <div class="vote-btn">
            <a href="#" class="v-btn">VOTE</a>
        </div>
        <br><br><br>
        <div class="vote-btn">
            <a href="#" class="r-btn">RESULTS</a>
        </div>
    </div>

    <div class="home-sci">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
</section>

<%- include('footer') %>