<%- include("header") %>

<main class="error-box">
  <div class="box">
    <h3> <%= msg %> </h3>
    <a href="/login">
        <button class="button-33" role="button">Login</button>
      </a>
  </div>
</main>

<%- include("footer") %>