* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    color: #ededed;
    background: #2A2F4F;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 black;
    margin: 8px;
    border-radius: 10px;
  }

  .pfl-photo {
    border-radius: 10px;
  }

  .about-us {
    color: white;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #2A2F4F;
    color: rgb(8, 7, 7);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #9173ce;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: #2A2F4F;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


